<%- include('components/alert') %>
<div class="container pt-2">
    <div class="row py-5 mb-2">
        <div class="col-md-6">
            <div class="rounded-circle mb-3" style="width: 90px; height: 90px; overflow: hidden; display: inline-block;">
                <a href="/account"><img src="/public/image/assets/Illustrasi Login.png" class="img-fluid" alt="" id="image"></a>
            </div>
            <p class="h5">Selamat Datang,</p>
            <p class="h3 fw-bolder"><%= dataProfile.data.first_name %> <%= dataProfile.data.last_name %></p>
        </div>
        <div class="col-md-6 rounded rounded-4 background-saldo p-4 pb-0">
            <p class="h5 text-white fw-semibold">Saldo anda</p>
            <p class="h2 text-white my-3" id="viewsaldo">Rp. <%= dataSaldo.data.balance.toLocaleString('id-ID', { minimumFractionDigits: 0 }) %></p>
            <p class="h2 text-white fw-normal my-3 d-none" id="closesaldo" onclick="toggleSaldo()">**************</p>
            <p class="text-small text-white fw-normal" onclick="toggleSaldo()" style="cursor: pointer; margin-top: 28px;">Tutup saldo</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card-scroll-container d-flex">
                <% dataServices.data.forEach(services => { %>
                    <div class="card border-0 text-center" style="width: 100px;">
                        <a class="text-dark text-decoration-none" href="/transaction/<%= services.service_code %>">
                            <img class="" width="50" src="<%= services.service_icon %>" alt="Gambar Landscape">
                            <p class="h6 text-center mt-4">
                                <% services.service_name.split(' ').forEach(name => {%>
                                    <%= name %> <br>
                                <% }) %>
                            </p>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
    
    <p class="h5 my-4 fw-semibold">Temukan promo menarik</p>
    <div class="row">
        <div class="col-12">
            <div class="card-scroll-container d-flex">
                <% dataBanner.data.forEach(banner => { %>
                    <div class="card border-0" style="width: 18rem;">
                        <img class="card-img-top" src="<%= banner.banner_image %>" alt="Gambar Landscape">
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
